<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body
        .app
            .app__top
                .app__topcol1
                .app__topcol2
            .app__bottom
                .app__bottomcol1
                .app__bottomcol2